@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply  box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-dark-100 text-primary min-h-screen;
  }
}

@layer utilities {
  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .padding-container {
    @apply sm:px-5 md:px-8 lg:px-20;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .input{
    @apply bg-transparent w-full border border-secondary-200 rounded-lg outline-none px-3 py-2 text-sm
  }

}